body {
	background-color: #777;
	width: 960px;
}

header{
	background-color: #ebebeb;
	padding: 25px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}

div {
	position: relative;
}

#nav {
	background-color: #ebebeb;
	padding: 25px;
	text-align: center;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
}

#section {
	background-color: #ebebeb;
	float: left;
	text-align: center;
	width: 495px;
	height: 200px;
	padding: 0px;
	margin-top: 10px;
	margin-left: 100px;

}

#aside {
	background-color: #ebebeb;
	float: left;
	text-align: center;
	width: 255px;
	height: 200px;
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;

}

#h1 {
	background-color: #ebebeb;
	text-align: center;
	float: inherit;
	width: 440px;
	height: 40px;
	margin-left: 30px;
	margin-top: 70px;

}
#p {
	background-color: #ebebeb;
	text-align: center;
	float: inherit;
	width: 440px;
	height: 40px;
	margin-left: 30px;
	margin-top: 10px;

}
#article {
	background-color: #777;
	text-align: inherit;
	text-overflow: center;
	width:480px;
	height: 150px;
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 25px
}



footer {
	background-color: #ebebeb;
	padding: 25px;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 220px;
	clear: both;
}

.group:after {
  overflow: auto;
  content: "";
  display: table;
  clear: both;
}

